@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* shared style */

.inter {
  font-family: "Inter", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px;
  background-color: #4e47ff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  color: black;
  background-color: yellow;
}

.section-text-title {
  color: #252432;
  font-size: 42px;
  font-weight: 700;
}

/* header style */

.header {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav style */

nav {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

nav h3 a {
  color: #4e47ff;
  font-family: Inter;
  font-size: 34px;
  font-weight: 900;
  line-height: 150%;
  text-decoration: none;
}

/* banner style */

.banner {
  max-width: 905px;
  margin: 0 auto;
  text-align: center;
}

.banner h1 {
  margin-top: 158px;
  color: #252432;
  font-size: 65px;
  font-weight: 700;
}

.banner button {
  margin-top: 37px;
  margin-bottom: 154px;
}

/* action style section */
.action-wrapper {
  max-width: 1140px;
  margin: 116px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-description {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding: 23px 0;
  max-width: 517px;
}

.action-img {
  max-width: 403px;
}

.action-img img {
  border-radius: 48px;
  object-fit: cover;
}

/* productive-user style */
.productive-user {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-info h2 {
  color: #4e47ff;
  font-size: 80px;
  font-weight: 700;
  padding-top: 40px;
}

.user-info p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

/* User reviews style */

.user-reviews{
  max-width: 1140px;
  margin: 137px auto;
}
.user-reviews h2{
  text-align: center;
}

.reviews-wrapper{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user-review{
  /* max-width: 318px; */
  background-color: rgba(211, 211, 211, 0.168);
  padding: 24px;
  border-radius: 14px;
  
}

.user-review h4{
  padding-top: 24px;
  padding-bottom: 10px;
}

.author-info{
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-info img{
  border-radius: 50%;
}